#footer
  background-size cover
  background-attachment fixed

#footer-title
  background color-red
  padding-bottom 60px
  margin-bottom -60px

  h3
    color color-white
    padding 60px 0
    font-size 47px

#footer-form
  background color-white
  border-radius 5px
  padding 20px 0

  .contact-info
    text-align right

    h4
      color color-red
      font-size 47px

#footer-bar
  background color-red-dark
  color color-white
  font-size 14px
  padding 20px 0 5px

#footer-carrers
  .header
    align-items center
    padding 50px 0

  h3
    color color-red
    font-size 47px
    padding 0 10px

  p
    color color-white
    padding-bottom 0
    padding-top 5px

    a
      text-decoration none
      color color-red-opaque

      &:hover
        text-decoration underline
