#menu-header
  flex-grow 1

  ul
    grid()
    height 100%
    align-items stretch

  ul li
    display flex
    align-items stretch
    flex-grow 1

  ul a
    display flex
    align-items center
    min-width 100%
    justify-content center
    text-decoration none
    color color-white-opaque
    // font family Josefin Sans
    transition all 0.3s

    &:hover
      background color-yellow
      color color-black

  ul li.active a
    background color-red
    color color-white

