.button
  cursor pointer
  text-decoration none
  border-radius 5px
  padding 9px 19px
  display inline-block


.button-primary
  @extend .button
  background color-red
  border none
  color color-white
  // font-family roboto bold

.button-bordered
  @extend .button
  background none
  border 1px solid color-gray
  color color-gray
  // font-family roboto bold
