.cards
  // ...

.card
  box-shadow 0 7px 15px rgba(0, 0, 0, 0.1)
  .card-wrapper
    text-decoration none

  .image
    padding 28%
    background-size cover

  .title
    font-size 19px
    color color-gray
    padding 10px

  .pubdate
    font-size 10px
    padding 0 10px

  .text
    font-size 14px
    padding 10px
