.form-row
  grid()

  &.centered
    @extend .row.centered

.form-group
  @extend .column
  cell(1, 1)

  .form-control
    width 100%
    border none
    border-bottom 1px solid color-gray

textarea
  resize vertical
  min-height 120px

