#page-header
  grid('column')
  align-items stretch
  text-align center
  background color-gray-light

  h1
    padding-top 50px
    padding-bottom 20px
    text-transform uppercase

  .breadcrumb
    grid()
    justify-content center
    background color-black
    color color-white
    padding 10px

    li
      padding 0 10px

    a
      text-decoration none
