.products-list
  grid()

.products-list .product-item
  cell(1, 4)
  text-align center

  a
    text-decoration none

  .image
    padding 35% 50%
    background-size cover

  .title
    color color-red
    padding 10px 0
    font-size 29px

  .button
    margin-bottom 10px
