.product-gallery
  .featured-image
    .image
      padding 30% -0px

  .thumbnails
    width 100%

  .thumbnail
    padding 10% 15%
    margin-right 5%
    display inline
    float left
    margin-top 5%
    cursor pointer

    &:nth-child(3n+3)
      margin-right 0
