.sidebar
  cell(3, 12)
  padding 63px 0

  h3
    color color-black
    font-size 47px
    padding 30px 0 20px

  .searchform
    input
      border 1px solid #D9D9D9
      padding 10px
      width 100%

  .sidebar-menu

    li
      padding 10px 0

    a
      text-decoration none
      font-size 29px
      color color-gray

      &:hover
        text-decoration underline
