.single-slider
  width 100%
  padding 100px 0

  .slick-list
    margin 0 60px

.slider-navigation-button
  background color-red
  border none
  color color-white
  font-weight bold
  border-radius 50%
  width 40px
  height 40px
  display flex
  align-items center
  justify-content center
  position absolute
  top 50%
  margin-top -20px
  cursor pointer

  &.next-button
    right 0

  &.prev-button
    left 0

.single-slide-item .wrapper
  grid()

  .image
  .text
    cell(1, 2, g: 0)

  .image
    padding-right 50px
    border-right 1px solid #BDBDBD

  .text
    padding-left 50px
