#banner
  background-size cover
  background-attachment fixed
  border-bottom 150px solid #212121
  align-items stretch
  padding 100px 0
  min-height 100vh

  .text
  .image
    cell(1, 2)

  .text
    justify-content center

    h1
      padding-bottom 5px
      line-height 1.5

      strong
        display block

    padding-bottom 20px

    .buttons .button-primary
      margin-right 20px
