// source: http://stylusgrid.com/
@import 's-grid-settings';

base-font-size = 18
gutter = 30px
columns = 12

breakpoints = {
    sm: 0,
    md: 640px,
    lg: 1400px,
    xlg: 1440px,
    xxlg: 1920px
}

@import 's-grid-functions';
// @import 's-grid-classes';

.container-fluid
  grid()

.container
  center(breakpoints[lg])
  grid()

.row
  grid()
  width 100%

  &.centered
    justify-content center

  &.vertical-center
    align-items center

.column
  center(breakpoints[lg])
  grid('column')

  &.centered
    align-items center

.grid-1-1
  cell(1, 1)

+between(breakpoints.sm, breakpoints.md)
  .grid-sm-1-1
    cell(1, 1)

  .grid-sm-1-2
    cell(1, 2)

+above(breakpoints.md)
  .grid-md-1-1
    cell(1, 1)

  .grid-md-1-2
    cell(1, 2)

  .grid-md-1-3
    cell(1, 3)

  .grid-md-1-4
    cell(1, 4)

